h3 {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 20px;
}


.stats p {
    color: var(--blue);
    margin: 1px 0 0 4px;
    font-weight: 600;
}

.stats ul{
    margin-bottom: 24px;
}

.stats div{
    display: flex;
}

.example{
    color: var(--blue);
    font-style: italic;
    background-color: var(--b03);
    padding: 12px;
    margin: 24px 0;
    height: fit-content;

    span{
        font-weight: 600;
    }
}