/*body *{*/
/*    border: 1px solid rgba(255,0,0,0.3);*/
/*}*/

body{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    gap: 72px;
    flex-direction: column;

    height: 100vh;

    font-family: "JetBrains Mono", sans-serif;

    /*padding: 96px 24px;*/
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
    flex-direction: column;
    height: calc(100vh);
    min-height: min-content;

    padding: 96px 24px;
}

.container, .link-container{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: flex-start;
    gap: 0px;

    max-width: 420px;
    width: 100%;
}

.logo-container {
    padding: 0 16px;
    gap: 32px;
}

.logo{
    height: min-content;
    width: min-content;
}

.link-btn {
    height: 52px;
    width: 100%;

    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 16px;

    color: rgba(0,60,255,1);
}
.link-btn:hover {
    background-color: rgba(0,60,255,0.05);
}

.label {
    padding-left: 16px;
    height: 52px;
    display: flex;
    align-items: center;
}

.description{
    /*width: 100%;*/
    /*text-align: center;*/
    line-height: 24px;
}
