:root {
    --b03: rgb(0,0,0,0.03);
    --b05: rgb(0,0,0,0.05);
    --b10: rgb(0,0,0,0.10);
    --b20: rgb(0,0,0,0.20);
    --b50: rgb(0,0,0,0.50);
    --b70: rgb(0,0,0,0.70);
    --rad1: 4px;

    --blue: #003CFF;
    --pink: #FFACCD;

    --corner: 8px;
    --gap: 16px;
    --gap-sm:2px;
    --card: 320px;
    --nav-width: 160px;
    --nav-height: 120px;
    --modal-height: 560px;
}

/* body *{border: 1px solid rgba(255,0,0,0.3);} */

/* GENERIC */
.bold {
    font-weight: 600;
}
h3{
    padding-bottom: 12px;
}

/* LAYOUT */
html, body{
    position: relative;
    display: block;


    margin: 0;
    padding: 0;
    height: auto;
}
body{
    display: flex;
    align-items: center;
    gap: 72px;
    flex-direction: column;

    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-family: "JetBrains Mono", sans-serif;

    /*padding: 96px 24px;*/
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper{
    display: flex;
    max-width: 1600px;
    width: 100%;
}


nav {
    height: 100vh;
    width: var(--nav-width);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 24px; */

    position: fixed;
    top: 0;

    margin-right: auto;

    padding: 8px 8px 8px 8px;
}
    .logo-container{
        padding: 16px;
    }
    .logo{
        height: min-content;
        width: min-content;
    }


.content-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content-area {

    flex:1;
    width: 100%;
    
    max-width: 1400px;
    display: flex;
    justify-content: center;

    justify-self: center;
    align-self: center;

    flex-wrap: wrap;

    gap: var(--gap);
    padding: var(--nav-width);

    overflow: hidden;
}


/* GALLERY */
    .img-frame {

        height: 440px;
        width: 32%;

        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgb(231, 231, 231);
    }
    .ground {
        align-items: flex-end;
    }
    .arc {
        border-radius: 999px 999px 0 0;
        overflow: hidden;
    }
    .text-card {
        /* text-align: center; */
        padding-top: 320px; 
        padding: 32px;

        justify-content: center;
        align-items: center;
        text-align: center;

        gap: 24px;
        flex-direction: column;
        
    }
    .transparent {
        background-color: rgb(255, 255, 255);
        border: 1px dashed rgba(0,0,0,0.20);
    }



.container, .link-container, section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px; 
    width: 100%;
}



.link-btn {
    height: 72px;
    width: 100%;

    border-radius: var(--rad1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 16px;

    gap: 8px;
    text-decoration: none;

    color: black;

    cursor: pointer;
}
.link-btn:hover, #mobile-nav .nav-button:hover {
    background-color: rgba(0,60,255,0.05);
}
.tba{
    color: rgba(0,0,0,0.5);

}
.tba:hover {
    background-color: white;
}

.label {
    padding-left: 16px;
    height: 52px;
    display: flex;
    align-items: center;
}

.description{
    /*width: 100%;*/
    /*text-align: center;*/
    line-height: 24px;
}


/* Escaper */
ul{
    list-style: square;
    margin-left: 48px;
}
li {
    padding: 8px 0;

}
li::marker {
    color: var(--b20);
}
.gap{
    height: 48px;
}
.bold{
    font-weight: 600;
    color: var(--blue);
}



/* ABOUT */
.about-container{
    /* align-items: center; */
    max-width: calc(880px + (160px * 2));
    gap: 96px;
    padding-bottom: 96px;
    flex-direction: column;
}

.skills-container{
    gap: var(--gap-sm);
    display: flex;
    flex-wrap: wrap;
}
    .tag{
        background-color: var(--b05);
        padding: 16px;
        width: max-content;
        border-radius: var(--corner);
    }

.photo-wrapper{
    flex-wrap: wrap;
    display: flex; 
    gap: 24px; 
    justify-content: flex-start;
}
    .photo-container {
        width: 260px;
        text-align: center;
    }
    .photo-container label {
        max-width: 100%;
    }

.company-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}
    .logo-cell{
        display: flex;
        justify-content: center;
        align-items: center;
        flex:1;

        position: relative;
        
        height: 220px;
        min-width: 360px;

        background-color: var(--b05);
        border-radius: var(--corner);
    }
    .sm{
        min-width: 272px;
    }
    .date {
        position: absolute;
        bottom: 9px;
        right: 12px;
        color: var(--b50);
        font-size: 14px;
    }

.gallery-banner{
    background-color: var(--b05); 
    padding: 56px 56px 2px 56px; 
    border-radius: var(--corner);
    min-height: min-content;
    height: 440px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
    overflow: hidden;
}
    .gallery-banner:hover{
        background-color: var(--b10);
        transition: all 0.1s ease-in-out 0s;
    }
    .gallery-banner p, .gallery-banner span {
        color: var(--blue);  
    }
    .gallery-banner .illustration {
        width: 652px;
        height: 212px;

        position: relative;
        bottom: -2px;
    }
    .gallery-banner .text{
        display: flex;
        /* flex-direction: column; */
        width: 100%;
        justify-content: space-between;
    }
    .arrow-container{
        background-color: white;
        border-radius: 999px;
        width: calc(56px * 1);
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


/* Tablet */
#mobile-nav{
    display: none;

    position: fixed;
    left: 0px;
    bottom: 0px;
    top: auto;

    height: var(--modal-height);
    width: 100vw;
    z-index: 10;

    background-color: var(--pink);
    padding: 0;

    transform: translateY(calc(var(--modal-height) - var(--nav-height)));
    transition: transform 0.5s ease-in-out 0.1s;
}
.nav-button{
    background-color: rgba(0,0,0,0);
    height: var(--nav-height);
    width: 100%;
    padding: 0px 42px;
    margin: 0;

    display: flex;
    justify-content: space-between;

    cursor: pointer;
}
.menu-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 99px; 
    width: 32px; 
    height: 78px;

    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.1s;

    
}

#menu-modal{
    background-color: var(--pink);
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 20;
}
.hide{
    display: none !important;
}
.offset{
    transform: translateY(0px) !important;
    transition: transform 0.5s ease-in-out 0.1s;

    .menu-btn{
        opacity: 0;
        transition: opacity 0.5s ease-in-out 0.1s;
    }
}


.mobile-links .link-btn{
    height: auto;
    padding: 24px 24px 24px 52px;
    border-radius: 0;
}

.mobile-links .link-btn:nth-child(5){
    height: auto;
    padding: 24px 24px 52px 52px;
}

@media (max-width: 1120px) {
    .img-frame {
        width: 48%;
    }

    .content-area{
        padding: 56px;
    }

    .desktop-nav{
        display: none;
    }

    #mobile-nav{
        display: flex;
    }
}

/* Mobile */
@media (max-width: 500px) {
    body{
        font-size: 14px;
        line-height: 20px;
    }

    .logo-cell {
        min-width: 272px;
    }

    .content-area{
        padding: 48px;
    }
    .img-frame {
        width: 100%;
    }
}